---
import config from '../lib/config.json';
---

<header class="site-header">
  <div class="inner">
    <a class="logo text-2xl font-bold" href="/">{config.name}</a>
    <nav class="nav">
      <a class="text-sm" href="/">Home</a>
      <a class="text-sm" href="/projects">Projects</a>
      <a class="text-sm" href="/resume">Resume</a>
      <a class="text-sm" href="/about">About</a>
      <a class="text-sm" href="/contact">Contact</a>
    </nav>
  </div>
</header>