---
import config from '../lib/config.json';
const basePath = Astro.site ? new URL(Astro.site).pathname.replace(/\/$/, '') : '';
const resumeUrl = `${basePath}${config.resume.displayLink}`;
---

<div class="resume-viewer card">
  <div class="controls">
    <a class="btn primary" href={resumeUrl} target="_blank" rel="noopener">Download Resume</a>
  </div>
  <div class="pdf-container">
    <iframe src={`${resumeUrl}#toolbar=0`} title="Resume viewer"></iframe>
  </div>
</div>